@font-face {
  font-family: 'Qatar2022';
  src: local('Qatar2022'), url(./assets/fonts/Branding Medium.otf) format('truetype');
}
@font-face {
  font-family: 'Qatar2022-Arabic-Medium';
  src: local('Qatar2022-Arabic-Medium'), url(./assets/fonts/Branding\ Bold\ Italic.otf) format('truetype');
}
@font-face {
  font-family: 'Qatar2022-Heavy';
  src: local('Qatar2022-Heavy'), url(./assets/fonts/Branding Black.otf.otf) format('truetype');
}
.login{
  min-height: 100vh;
  background-color: #eeeee5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Qatar2022;

}
.img-logo-login{
  width: 30%;
}
.login h1{
  font-family: Qatar2022-Heavy;
  color: #550065;
  font-size: 2rem;
}
.form-login{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App{
  min-height: 100vh;

  background-size: cover;
  min-width: 320px;
  
  font-family: Qatar2022;
}
.content-header{
  background: rgb(0 50 130/1);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.img-logo{
  position: absolute;
  top: 0;
  width: 200px;
}
.modal-registered .ant-modal-content,.ant-modal-header {
  background: white;
}
.modal-registered .ant-modal-header {
  background: white;
}
.ant-drawer-body{
  padding: 0;
}
.container-podium-rank{
  background: url("./assets/copa-america-bg.png") no-repeat center
    center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.btn-rules{
  position: absolute;
  left:0;
}
.btn-simulator{
  position: absolute;
  right: 0;
}
.container-podium{
  background: url(./assets/podium.png) no-repeat bottom left;
  background-size: 100%;
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 2%;
}
.container-fifa-rank{
 width: 50%;
 margin: auto;
 display: flex;
 flex-direction: column;
}
.modal-detail-match h1,h2,h3{
  color:white;

}
.modal-detail-match .ant-table,.ant-table-thead > tr > th{
  background-color:rgb(0 50 130/1)
}
.ant-table {
  background: transparent !important;
}
.ant-table-thead > tr > th {
  background: transparent !important;
}
.ant-table-tbody > tr > td {
  border-bottom: none !important;
}

.container-fifa-rank .ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: rgba(0,0,0,.3) !important;
}
.container-fifa-rank a {
  color: white;
  font-size: 20px;
}
.fifa-logo{
  margin: auto;
}
.matches{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.podium{
  width: 18%;
  height: 75%;
  color: #fff0a7;
  font-weight: 900;
  font-size: 30px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}
.podium:nth-child(1) , .podium:nth-child(3) {
  height: 60%;
}
.selectPodium{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-match{
  position: relative;
  color:white;
  background: rgba(0,0,0,.3);
  width: 20%;
  min-width: 297px;
  min-height: 297px;
  margin: 2% 2%;
  border-radius: 20px;
}
.container-match h3,h1,h2,h4,h5 {
  color:white;
}
.content-match{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.teams{
  display: flex;
  align-content: center;
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  justify-content: space-between;
}
.teams .ant-input-number{
  margin: auto !important;
}
.container-list-all-matches .ant-table{
  background: transparent !important;
  color: white;
}
.container-list-all-matches .ant-table-thead > tr > th {
  background: transparent !important;
}
.container-list-all-matches .ant-table-tbody > tr > td {
  border-bottom: none !important;
}
.ant-table-thead > tr > th{
  color: white;
}
.tabs-group{
  background: rgb(0 50 130/1);
}
.tabs-group .ant-tabs-tab {
  color: rgba(255, 255, 255, 0.85) !important;
  font-size: 23px;
}

.ant-modal-header{
  background: rgb(0 50 130/1);   
  border-bottom: 1px solid rgba(0,0,0,.3);
}
.ant-modal-content{
  background: rgb(0 50 130/1);   
  font-family: Qatar2022 !important;
}
.ant-modal-content .modal-my-result{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.modal-detail-match .my-points{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.in-develop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.in-develop h1{
  color: white;
}
.in-develop img{
  width: 480px;
}
.Square{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
}
.Square .fase{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 350px;
}
.Square .final{
  position: relative;
}
.img-worldcup {
  width: 75px;
  position: absolute;
  top: 0%;
  right: 50%;
  
}
.square-match{
  width: 80%;
  background-color: rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 ;  
}
.square-match h5 {
  color: white;
}
.teams-finals{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.square-match .team-square{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.container-simulator div{
  display: flex;
  justify-content: space-around;
}
.container-simulator h2{
  text-align: center;
  color:black;
}

@media (max-width:650px) {
  .login {
    justify-content: center;
  }
  .form-login {
    width: 90%;
  }
    .img-logo-login {
  width: 80%;
  }
  .container-fifa-rank{
    width: 100%;
  }
  .img-logo{
    display: none;
  }
  
}

@media (max-width:850px) {
  .container-podium{
    height: 230px;
    width: 100%;
  }
}
